header {
  justify-items: center;
}
.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width:50%;
  padding-top: 15px;
  padding-bottom: 5px;
  border-bottom: #1D2D44 2px solid;

}

.nav-list {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  gap: 10px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav-list > div {
  flex: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}


.nav-btn {
  font-family: normal-text, Bold, serif;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  background-color: #FFFBEB;
  position: relative;
}

.nav-btn::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-25%);
  height: 2px;
  width: 0%;
  background-color: black;
  transition: width 0.3s ease, transform 0.3s ease;
}

.nav-btn:hover::after {
  width: 50%;
  transform: translateX(-50%);
}







