<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">

<!--Input Field to add a card-->

<div class="card-app">
  <div class="input-container">
    <input type="text" name="new-card-name" placeholder="Add a new card" [(ngModel)]="newCardName">
    <!--Button to add the card into the cards-->
    <button
      type="submit"
      (click)="$event.preventDefault(); addNewCard()"
    >Add
    </button>
  </div>



  <!--If no cardes existing it should show the text: "There are no cardes to display-->
  <div class="container">
    <div *ngIf="items.length == 0; else showItems" class="no-cards">
      There are no cardes to display
    </div>

    <!--All Items should get listed here-->
    <ng-template #showItems>
      <ul  class="card-list">
        <li *ngFor="let item of items; index as ii" class="card-list-item">
          <div class="form-check">
            <label class="form-check-label">
              <span class="card-name">{{ item.cardQuestion }}</span>
              <span class="separator"></span>
              <span class="writer">{{ item.cardAnswer }}</span>
            </label>
          </div>
        </li>
      </ul>
    </ng-template>


    <!--input field where you can sa, which card should get deleted-->
    <div class="card-app">
      <div class="input-container">
        <input type="text" name="delete-this-card" placeholder="Delete a card" [(ngModel)]="deletedCardName">
        <!-- Delete Button-->
        <button
          type="submit"
          (click)="$event.preventDefault(); deleteCard()"
        >Delete this card
        </button>
      </div>
    </div>

    <!--Should say, that the card you want to delete isn't existing-->
    <div *ngIf="deletedCardDoesNotExistString" class="error-message">
      {{ deletedCardDoesNotExistString }}
    </div>
  </div>
</div>





<router-outlet></router-outlet>
